.product__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
}
.product__item {
  background-color: #cdcdcd;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
}

@media only screen and (min-width: 768px) {
  /* For small desktop: */
}

@media only screen and (min-width: 992px) {
  /* For large desktop: */
}

@media only screen and (min-width: 1200px) {
  /* For extra large devices: */
}
